<tr>
    <td>1</td>
    <td>Username</td>
    <td>example@gmail.com</td>
    <td>Male</td>
    <td>Active</td>
    <td>
        <a href="/update-user" class="btn border-shadow update">
            <span class="textgradient"><i class="fa-solid fa-pen-to-square"></i></span>
        </a>
        <a class="btn border-shadow delete">
            <span class="textgradient"><i class="fa-solid fa-trash"></i></span>
        </a>
    </td>
</tr>